.user-component {
    justify-content: space-between;
    margin-top: 15px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
} 

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.title-font {
    font-weight: 600;
}

.user-component__title {

    font-size: 22px;
    color: black;
}

.user-component__member {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.user-component__subtitle {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 600;
}


.user-component__time {
    margin-bottom: 10px;
    display: block;
}

.user-component__music {
    border: 1px solid #5f5;
    width: 260px;
    height: 23px;
    border-radius: 30px;
    padding-top: 7px;
    text-align: center;
}

.user-component__music span {
    color: #000;
    font-size: 13px;
    
}

.user-component__music i {
    color: #000;
    font-size: 13px;
    
}

.user-component__name {
    display: flex;
}